.image-items{
  width: 100%;
  display: flex;
}

.image-items__wrap{
  text-align: center;
  width: 25%;
  height: 300px;
}

.image-items__item1{
  background: url(img/2-layers.jpg) no-repeat;
    background-size:cover;
}

.image-items__item2{
  background: url(img/section__Image2.jpg) no-repeat;
    background-size:cover;
}

.image-items__item3{
  background: url(img/section__image3.jpg) no-repeat;
    background-size:cover;
}

.image-items__item4{
  background: url(img/section__Image4.jpg) no-repeat;
    background-size:cover;
}

.image-items__title{
  font-size: 24px;
  font-weight: 500;
  color:#fff;
  margin-top: 100px;
}

.image-items__button{
  color:#fff;
  text-decoration: none;
  text-align: center;
  border:1px solid #fff;
  padding: 0.3rem 0.5rem;
  margin-top: 70px;
  border-radius: 3px;
}

.image-items__button:hover,.image-items__button:focus{
  color:$darkColor;
  background: #fff;
}