.navigation {
  display: flex;
  background: $darkColor;
  margin-top: 24px;
  margin-right: 80px
}

.navigation__ul{
  padding: 0;
  margin: 0;
  display: flex;
}

.navigation li{
  list-style: none;
}

.navigation li a{
  display: block;
  color:#fff;
  font-size: $secondSize;
  padding: 0 10px;
  text-decoration: none;
}

.navigation li a:hover,.navigation li a:focus{
  color:$accentColor;
}
