.contacts{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contacts__select{
  height: 33px;
  width: 110px;
  font-size: $secondSize;
  color:$lightColor;
}

.contacts__adress{
  
}
.contacts__phone{
  color:$accentColor;
  margin-left: 5px;
}

.contacts__worktime{
  display: block;
  color: #d1d1d1;
  font-size: 0.875rem;
}