.footer-menu{
  padding: 1rem 0;
}
.footer-menu__ul{
  display: flex;
  justify-content: center;
}
.footer-menu__li{
  list-style: none;
}
.footer-menu__link{
  border-right:solid 1px #444;
  padding: 0 1rem;
    color: #f2f2f2;
    text-decoration: none;
    font-size: $secondSize;
    font-weight: 200;
}
.footer-menu__link:hover,.footer-menu__link:focus{
  color:$accentColor;
}
.footer-menu__li:last-child .footer-menu__link{
  border-right: none;
}