.mini-nav{
   margin-top: 10px;

}

.mini-nav__ul{
  display: flex;
  justify-content: center;
  margin:0;
  padding-left: 0;
}

.mini-nav__li{
  list-style: none;
}

.mini-nav__link{
  color: $lightColor;
    padding: 0 5px;
    line-height: 14px;
    height: 14px;
    display: block;
  border-left:1px solid $lightColor;
}

.mini-nav__li:first-child .mini-nav__link{
  border-left: none;
}

.mini-nav__link:hover, .mini-nav__link:focus{
  color:$accentColor;
}