.cart{
  display: inline-block;
  margin-top: 28px;
  position: relative;
  width: 22px;
  height: 22px;
  background: url() 0 0 no-repeat;
  background: url(../images/icons/shopping-purse-icon.png);
  background: url(../images/icons/shopping-purse-icon.svg);
  background-size: auto 100%;
  vertical-align: middle;
  background-repeat: no-repeat;
  padding-right: 20px;
}
.cart__counter{
  position: absolute;
  border-radius: 50%;
  background-color: $accentColor;
  top: 13px;
  font-size: 14px;
  right: -7px;
  line-height: 16px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  padding: 0px 4px;
}
