.columns-info{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 4rem;
}
.columns-info__item{
  width: 50%;
  padding: 2rem 1rem;
}
.columns-info__left{
  margin-right: 5px;
  border-radius: 0 5px 5px 0;
  background: $lightColor;
  color: $darkColor;
}
.columns-info__right{
  margin-left: 5px;
  border-radius: 5px 0 0 5px;
  background: $darkColor;
  color: $lightColor;
}
.columns-info__title{
  text-align: center;
  font-weight: 200;
  margin: 0;
}

.columns-info__icon{
  display: block;
}
.columns-info__icon-left{
  background: url(img/smartphone-11.png) no-repeat;
  width: 159px;
  height: 167px;
  float: left;
  margin-right: 20px;
}
.columns-info__icon-right{
  background: url(img/umbrella.png) no-repeat;
  margin-top: 5px;
  width: 135px;
  height: 161px;
  float: right;
  margin-left: 20px;
}
.columns-info__text{
  padding: 25px 40px;
  text-align: center;
}