.callback{
  display: block;
  background: $accentColor;
  color:#fff;
  text-align: center;
  line-height: 33px;
  text-decoration: none;
  margin: 0 auto;
  width: 160px;
height: 33px;
border-radius: 2px;
}